# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

# Ignore test folder
test

#Ignore lain-lain, latest dumped DB for development, or other
#zzzother
