/* structure
----------------------------------------------------------------------------------------------*/
.wrapper {width: 280px;}
.wrapper_2 {width: 280px;}
.wrapper_3 {width: 280px;}

/* header
----------------------------------------------------------------------------------------------*/
body.home header .belipulsa {display: none;}
header .logo{ right: auto;  width: 170px;}
header .logo img {max-width: 125px;margin: 15px auto 0;}
header .nav_mobile{right: 20px;}


/* middle
----------------------------------------------------------------------------------------------*/


section.banner .caption h2 {font-size: 24px;}
section.banner .caption p {font-size: 14px;}
section.banner .caption {width: 280px;margin: auto;left: 0;right: 0;}
section.banner .caption a{  margin: 25px 0 0 0;font-size: 12px;padding: 0 0 22px 0;}

section.h_middle_top .home_tab {top: -96px;width: 281px;}
section.h_middle_top .home_tab .nav_tab a {
    /*position: relative;
    height: 55px;
    width: 55px;
    text-indent: -999px;
    line-height: 55px;
    width: 50px;*/

    position: relative;
    line-height: 1.2;

    padding: 0;
    padding-top: 42px;

    width: 25%;
    height: 37px;

    font-size: 11px;
}
section.h_middle_top .home_tab .nav_tab a span.ico {
    position: absolute;
    transform: scale(0.8);
    /*left: 9px;*/
    left: 4px;
    bottom:11px;
}
section.h_middle_top .home_tab .nav_tab a.active{
    width: 118px;text-indent: 0;padding-left: 50px;text-align: left;
    width: 82px;
    padding-left: 45px;
    font-size: 14px;
}
section.h_middle_top .home_tab .content_tab { padding: 22px 20px 15px;}
section.h_middle_top .home_tab .form input[type=text] {width: 153px;height: 30px;padding: 10px 75px 10px 10px;}
section.h_middle_top .home_tab .form input.bt {right: 10px;top: 10px;}
section.h_middle_top .home_tab span.note {font-size: 10px;line-height: 14px;}
section.h_middle_top .voucher_vendor {width: 260px;margin: auto}

.form.style_1 input[type=text] {font-size: 12px;}

section.promo_banner .slide{
    position: relative;
    width: 280px;
    height: 270px;
    overflow: hidden;
}
section.promo_banner .slide img{
    position: absolute;
    height: 110%;
    max-width: none;
    top:0;
    right: -30px;
}
section.promo_banner .bt_std{right: 50px; bottom: 24px;}
section.gratis_voucher {
    padding: 300px 0 0 0;
    background-size: 320px;
    min-height: 380px;
    background-position: top center;
}
section.gratis_voucher .desc {width: 100%;}
section.gratis_voucher .desc a img {max-height: 40px;}
section.easy_step {padding-bottom: 50px;height: auto}
section.easy_step .box_step {float: none;width: 100%;}
section.easy_step .box_step .label{margin: 10px auto 10px;}
section.easy_step .box_step p {margin: 0 auto 30px;}
section.easy_step .bt_std{display: inline-block;margin-top: 15px;}

section.h_keuntungan
{
    background: none;
}

section.h_keuntungan .box {
    width: 280px;
    text-align: left;
    margin: 0 auto 0;
    height: 155px;
}
section.h_keuntungan .box h5{margin: 0 0 5px 0;}
section.h_keuntungan .box .image {transform: scale(0.7);height: 100%;margin: -20px 5px 0 0}

section.newsletter {height: 199px;}
section.newsletter .left {width: 195px;background-size: 75px !important;}
section.newsletter .left h3 {font-size: 16px;margin: 5px 0 5px 0;}
section.newsletter .right {width: 280px;margin-top: -5px;}
section.newsletter .right input[type=text] {width: 258px;font-size: 12px;padding: 10px;height: 28px}
section.newsletter .right input.bt {top: 9px;}

.form.style_1 .row{margin-bottom: 10px}
.form.style_1 .row.bt_wrap .left {width: 240px;}
.form.style_1 .row.bt_wrap .right {width: 240px;margin: 20px 0 0 0;}
.form.style_1 .row.bt_wrap .right .bt_std {font-size: 16px;height: 45px;width: 240px;}
.form.style_1 .row.saldo .right {width: 238px;margin: 0}
.form.style_1 .row.saldo .left {width: 210px;font-size: 16px;height: 40px;line-height:40px }
.form.style_1 .row.saldo .right {width: 238px;position: relative;left: -2px;}
.form.style_1 .row.saldo .right .cover_combo{height: 47px;}
.form.style_1 .row.saldo .right .inner_combo {font-size: 18px;line-height: 47px}
.form.style_1 .row.saldo .right .cover_combo .arr{right: 5px;top: 3px;transform: scale(0.8);}
.form.style_1 .drop_transaksi{display: none;}


section.transaction .c_left ,
section.transaction .c_right {width: 280px;float: none;margin:0 auto;}

section.std_content h2 {
    font-size: 20px;
    padding: 0 0 20px 0;
    margin: 0px 0 20px 0;
}
section.std_content .tentang_kami p {font-size: 14px;}
section.std_content .tentang_kami h6 {font-family:"robotomedium";font-size: 16px;}
section.std_content .c_right {width: 280px;margin: 40px 0 0;}
section.std_content .other .c_right p {font-size: 12px;}
.form .row input[type=text], .form .row input[type=password], .form .row textarea {width: 240px;}
.form .row {position: relative;margin: 0 0 0px;}
.form .row label {min-height: 20px;}
section.std_content .other .kontak_thank h5 {font-size: 16px;line-height: 20px;}

section.banner .caption a.bt{display: none;}
section.banner img{right: -55%;}

section.std_content .akun .c_right {float: none;width: 280px;}
section.std_content .akun .c_right .share{width: 280px;}
section.std_content .akun .c_right .share .left {width: 75px;}
section.std_content .akun .c_right .share .right {width: 200px;}
section.std_content .akun .c_right .share input[type=text]{width: 185px;}
section.std_content .akun .c_right .share .bt{height: 30px;}

section.std_content .akun hr {margin: 25px 0 25px;}
section.std_content .akun .form.akun input[type=password] {width: 248px;height: 50px}
section.std_content .akun .form.akun p.note{margin-top: 20px}
section.std_content .akun .form.akun hr{border:none}
section.std_content .akun .form.akun .email{margin: 10px 0;}

section.std_content .akun .grid_akun.order_transaksi {border: none;}
section.std_content .akun .grid_akun.order_transaksi thead{display: none;}
section.std_content .akun .grid_akun.order_transaksi tbody tr{position: relative;display: block;margin: 0 0 31px;border:1px solid #d7d7d7;}
section.std_content .akun .grid_akun.order_transaksi tbody tr:after{
    position: relative;
    display: block;
    content:" ";
    border-bottom:1px solid #d7d7d7;
    bottom: -17px
}
section.std_content .akun .grid_akun.order_transaksi tbody tr:last-child{margin: 0}
section.std_content .akun .grid_akun.order_transaksi tbody tr:last-child:after{display: none;}
section.std_content .akun .grid_akun.order_transaksi tbody td{
    position: relative;
    display: block;
    text-align: left !important;
    padding:12px 0 12px 140px;
    border-bottom:1px solid #d7d7d7;
    font-size: 14px;
    font-family: "robotomedium";
    font-weight: bold;
    color:#535353;
}
section.std_content .akun .grid_akun.order_transaksi td:nth-of-type(1),
section.std_content .akun .grid_akun.order_transaksi td:nth-of-type(2){
    font-family: "robotoregular";
    font-weight: normal;
    color:#898989;
}
section.std_content .akun .grid_akun.order_transaksi td:nth-of-type(1):before{content: "Order ID";}
section.std_content .akun .grid_akun.order_transaksi td:nth-of-type(2):before{content: "No. Telp";}
section.std_content .akun .grid_akun.order_transaksi td:nth-of-type(3):before{content: "Tgl Transaksi";}
section.std_content .akun .grid_akun.order_transaksi td:nth-of-type(4):before{content: "TOTAL";}
section.std_content .akun .grid_akun.order_transaksi td:nth-of-type(5):before{content: "Status";}
section.std_content .akun .grid_akun.order_transaksi td:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100%;
    padding: 0px 10px;
    line-height: 40px;
    vertical-align: middle;
    padding-right: 10px;
    white-space: nowrap;
    background: #e7e7e7;
    font-family: "robotoregular";
    font-weight: normal;
    color:#535353;

}
section.std_content .akun .grid_akun.order_transaksi td:last-child{border:none;}
section.std_content .akun .paging{border: none;}

section.std_content .akun .grid_akun.kartu{
    position: relative;
    width: 320px;
    left:-20px;
    border:none;
}
section.std_content .akun .grid_akun.kartu thead{display: none;}
section.std_content .akun .grid_akun.kartu tbody tr{border-bottom: 1px dashed #CCC;display: block;padding:30px 0}
section.std_content .akun .grid_akun.kartu tbody tr:nth-child(even){background: #ebebeb}
section.std_content .akun .grid_akun.kartu tbody td{
    display: block;
    text-align: left;
    border: none;
    font-family: "robotomedium";
    font-size: 16px;
    font-weight: bold;
    color:#535353;
    padding: 0 30px;
    margin-bottom:20px;
}
section.std_content .akun .grid_akun.kartu tbody td b{margin:0;}
section.std_content .akun .grid_akun.kartu tbody td:nth-of-type(1) b{font-size: 22px;}
section.std_content .akun .grid_akun.kartu tbody td:nth-of-type(1) span{display: none;}
section.std_content .akun .grid_akun.kartu tbody td:nth-of-type(3){font-size: 18px;}
section.std_content .akun .grid_akun.kartu tbody td:nth-of-type(1):before{content:"Nomor Kartu";}
section.std_content .akun .grid_akun.kartu tbody td:nth-of-type(2):before{content:"Expired";}
section.std_content .akun .grid_akun.kartu tbody td:nth-of-type(3):before{content:"Digunakan pertama kali untuk transaksi";}
section.std_content .akun .grid_akun.kartu tbody td:before{
    display: block;
    font-family: "robotoregular";
    font-size: 14px;
    font-weight: normal;
    color: #707070;
    margin-bottom: 5px;
}
section.std_content .akun .grid_akun.kartu tbody td:nth-of-type(4) a img{display: none;}
section.std_content .akun .grid_akun.kartu tbody td:nth-of-type(4) a:before{content: "HAPUS";color: #FFF;font-weight: normal;}
section.std_content .akun .grid_akun.kartu tbody td:nth-of-type(4) a{
    background: #c51d22;
    display: block;
    width: 130px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    font-size: 14px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
section.std_content .akun .nav_tab a {width: 138.5px;line-height: 17px;padding-top: 13px;  height: 45px;}
section.std_content .akun .nav_tab a.active { padding-top: 9px; height: 45px;}

.form.dompet .row select {width: 240px;}
.form.dompet .row .cover_combo{background-position:210px ;}
.form.dompet .row .bt_std{margin: 20px 0 0 ;width: 240px}

section.std_content .akun .grid_akun.dompet tbody tr{position: relative;display: block;padding: 20px 0}
section.std_content .akun .grid_akun.dompet tr:nth-child(even){background:#ebebeb }
section.std_content .akun .grid_akun.dompet tr th{display: none;}
section.std_content .akun .grid_akun.dompet tr th:nth-child(1){display: table-cell}
section.std_content .akun .grid_akun.dompet tbody td {display:  block;border:none;margin-bottom: 15px;padding: 0 20px}
section.std_content .akun .grid_akun.dompet tbody td:nth-of-type(1) b{font-size: 16px;}
section.std_content .akun .grid_akun.dompet tbody td:nth-of-type(2) b{text-align: right;}
section.std_content .akun .grid_akun.dompet tbody td:nth-of-type(2){margin-bottom: 0;}
section.std_content .akun .grid_akun.dompet tbody td:nth-of-type(3) {
    position: absolute;
    top:20px;
    right: 0;
}
section.std_content .akun .list_voucher{width: 280px;}
section.std_content .akun_voucher .box_voucher {width: 280px;}
section.std_content .akun_voucher .box_voucher img{min-width: 100%}
section.std_content .akun_voucher nav a{width: 130px;}
section.std_content .akun_voucher nav a:nth-child(2){margin: 0 0 }

.form .row{margin-bottom: 15px}
.form .row select{width: 272px;}
.form .row .cover_combo {background-position: 240px ;}
.form .row label{width: auto;margin: 0;padding: 0}

section.transaction .table_order td {line-height: 20px}
section.transaction .table_order td:last-child{min-width: 80px;}
section.transaction .table_order tfoot th {padding: 15px 15px;}
section.transaction .kode_kupon input[type=text] {width: 138px;}
section.transaction .kode_kupon input[type=submit] {width: 110px;font-size: 14px;}

section.transaction .wrapper_2 .c_right {width: 280px;padding: 50px 0 0;margin: 60px auto 0;}
section.transaction .c_right input[type=text] {width: 248px;}
section.transaction .bt_next{  width: 280px;}
section.transaction .c_right .payment_option .radio {
    display: block;
    margin: 0 0 15px;
}
section.transaction {padding: 50px 0 0;}
section.transaction .bt_next {font-size: 14px;}
section.transaction .thanks_page h2 {font-size: 18px;}
section.transaction .wrapper_3.thanks_page {
    width:280px;
}
section.std_content .c_left {margin: 35px 0 0;}

section.transaction .thanks_page .c_right, section.transaction .thanks_page .c_left {
    float: none;
    margin: 0 auto 30px;
    padding: 0;
    width: 280px;
}
section.std_content .voucher,
section.std_content .voucher .wrapper_2,
section.std_content .voucher .wrapper_3 {
    width: 280px;
}
section.std_content .voucher .c_left {
    display: block;
    width: auto;
    padding: 10px;
    width: 100%;
    padding: 0;
}
section.std_content .voucher .c_left .grid_voucher_order table {
    width: 280px;
    width: 96%;
}
section.std_content .voucher .c_left .grid_voucher_order tfoot th:last-child{
    min-width: 0;
}
section.std_content .voucher .c_left .grid_voucher_order table {width: 260px;
    width: 96%;
}
section.std_content .voucher .c_left .grid_voucher_order table tr td:last-child {width: 30px;}
section.std_content .voucher .c_left .grid_voucher_order table tr td{  padding: 8px 7px;font-size: 13px;line-height: 16px}
section.std_content .voucher .c_left .grid_voucher_order tfoot .add_bt {position: absolute;bottom: -60px}
section.std_content .voucher .c_left .grid_voucher_order tfoot .add_bt {position: absolute;top: 60px;}
section.std_content .voucher .c_left .grid_voucher_order p {
    width: 250px;
    margin: 90px auto 20px ;
}
section.std_content .voucher .c_left .grid_voucher_order tfoot th:nth-child(2) {font-size: 14px;}
section.std_content .voucher .c_left .grid_voucher_order tfoot th{font-size: 12px;}
section.std_content .voucher .c_right .grid_promo_bank table tr {width: 280px;}
section.std_content .voucher .c_right .grid_promo_bank table tr td:nth-child(2) {width: 145px;}
section.std_content .voucher .c_right .grid_promo_bank table tr td:last-child{padding: 7px 5px;}

section.std_content .voucher h2 {color: #424143;font-size: 28px;}
section.std_content .voucher h5 {font-size: 14px;}
section.std_content .voucher .slider_voucher {width: 235px;}
section.std_content .filter .row{float: none}
section.std_content .filter .row .inner_combo {font-size: 13px;}
section.std_content .filter .row select {width: 280px;}
section.std_content .filter .row label{font-size: 12px;margin-bottom: 10px}
section.std_content .list_voucher {width: 280px;}
section.std_content .box_voucher {width: 235px;}
section.std_content .slider_voucher .bx-wrapper .bx-controls-direction a.bx-next{right: -20px;}
section.std_content .slider_voucher .bx-wrapper .bx-controls-direction a.bx-prev{left: -36px;}
section.std_content .slider_voucher .bx-wrapper .bx-controls-direction a {  margin-top: -130px;}
section.std_content .list_voucher .box_voucher{
    width: 280px;
}
section.h_middle_top .voucher_vendor .slider .slide img{width: 130px;}
#frameBlog #inner #right_column,
#frameBlog #inner #left_column {width: 280px;}
#frameBlog .content_blog .text_short p{display: none;}
#frameBlog .fsearch div:first-child{margin: 0 0 10px;}
#frameBlog .fsearch input[type="submit"] {width: 100%;margin: 10px 0 0}
#frameBlog .content_blog h3 {font-size: 22px;line-height: 26px;margin-bottom: 0}
#frameBlog .content_blog .head_post .share{display: none;}
#frameBlog .content_blog .img{margin-bottom: 0}
#frameBlog .content_blog .bag_bottom .tag{display: none;}
#frameBlog .content_blog .bag_bottom .readMore{width: 280px}
#frameBlog #right_column .latest_post ul li {width: 240px;}
#frameBlog #right_column .block_cloud,
#frameBlog #right_column .block_follow {width: 280px}
#frameBlog #right_column .block_cloud .inner img {max-width: 275px;margin-left: -30px;}
#frameBlog #right_column .block_follow .blsubcribe input[type="text"] {width: 130px;}
#frameBlog #right_column h3 {background: url(../images/material/sr_green_rec_320.png) no-repeat;}
#frameBlog .content_blog {margin-bottom: 25px;padding-bottom: 25px;}
/* popup
----------------------------------------------------------------------------------------------*/
.wrap_popup .box_popup {width: 260px;padding: 50px 10px 35px;}
.wrap_popup .box_popup .close{width: 17px;height: 17px;right:15px;top:15px;}


.wrap_popup .box_popup.login { padding: 50px 15px 35px;}
.wrap_popup .box_popup.login h2 {font-size: 16px;}
.wrap_popup .box_popup.login h6 {font-family: "robotolight";font-size: 14px;line-height: 18px;}
.wrap_popup .box_popup.login .border{margin: 20px auto 25px;}
.wrap_popup .box_popup.login .left.form input[type=password],
.wrap_popup .box_popup.login .left.form input[type=text] {
    width: 208px;
    height: 40px;
    font-size: 14px;
}
.wrap_popup .box_popup.login .left.form .row{margin: 0 0 10px;width: 260px}
.wrap_popup .box_popup.login .left.form .row a.forgot {font-size: 12px;padding: 5px 0 5px 0px;}
.wrap_popup .box_popup.login .left.form .row input.bt {height: 40px;line-height: 19px}
.wrap_popup .box_popup.login .left.spar {width: 100%;padding: 10px 0 20px;}
.wrap_popup .box_popup.login .right {width: 260px;}
.wrap_popup .box_popup.login .right p {font-size: 12px;}
.wrap_popup .box_popup.login .right a {margin: 0 0 10px;}

.wrap_popup.voucher .box_popup { width: 260px;padding:50px 15px 10px; }
.wrap_popup.voucher .box_popup h3 {font-size: 14px;margin: 0 0 10px;}
.wrap_popup.voucher .box_popup h4 {font-size: 16px;line-height: 20px;}
.wrap_popup.voucher .nav_pop {margin: 20px 0 0 0;  padding: 15px 0 20px 0;}
.wrap_popup.voucher .redeem span{width: 240px;}
.wrap_popup.voucher .redeem .form input[type=text]{width: 224px;margin-bottom: 10px;font-size: 12px;}
.wrap_popup.voucher .redeem .form .bt_std{width: 100%;font-size:14px;}
/* footer
----------------------------------------------------------------------------------------------*/
footer {
	margin-top:0;
	height: 200px;
}
footer .left {margin-top: 35px;}
footer .left nav{text-align: center;}
footer .left nav a{display: inline-block;font-size: 12px;margin-bottom: 10px}
footer .left .soc_link {display: none}
footer .right {margin-top: 15px;width: 280px;}
footer .right .box img{max-width: 100%;}
footer .right .box:first-child {margin-right: 25px;width: 105px;}
footer .right .box:last-child {margin-right: 0;width: 150px;}
footer .right .box h6 {padding: 0 0 0 6px;font-size: 10px}
footer .bottom {font-size: 10px;}
footer .bottom img {
    width: 18px;
    position: relative;
    bottom: -3px;
    margin: 0 5px 0 0;
}

/* Retouch */
table.tab-isi-pulsa tr td a
{
    min-width: 50px;
}

table.tab-isi-pulsa tr td {
    width: 75%;
}

section.h_middle_top .cover_combo, section.h_middle_top #sepulsa-autocomplete-card-type, section.h_middle_top #edit-operator
{
    width: 100% !important;
}

section.h_middle_top #sepulsa-autocomplete-packets
{
    width: 100% !important;
}

.topup-notes
{
    width:100%;
}

section.h_middle_top input[type=submit], input[type=button]
{
    width: 100%;
    font-size: 14px;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    word-wrap: break-word;
}
section.h_middle_top #sepulsa-autocomplete-packets select, section.h_middle_top #edit-existing-phone, section.h_middle_top .home_tab .form input[type=text]
{
    font-size: 18px;
    font-size: 14px;
}

section.h_middle_top .topup-action-2 input[type=submit], section.h_middle_top .topup-action-2 input[type=button]
{
    width: 65%;
    margin:0 auto;
    font-size: 20px;
    float:none;
}

table.tab-pulsa
{
    width: 100%;
}

table.tab-pulsa tr td
{
    width: auto;
}

.commerce_coupon #edit-commerce-coupon-coupon-add--2, .commerce_coupon #edit-commerce-coupon-coupon-add
{
    width: 40%;
    padding-left: 2%;
    padding-right: 2%;
    font-size: 14px;
}


.commerce_coupon #edit-commerce-coupon-coupon-code,
.commerce_coupon #edit-commerce-coupon-coupon-code--2
{
    width: 55%;
    padding-left: 2%;
    padding-right: 2%;
}

section.transaction .wrapper_2 .c_right
{
    margin-top: 20px;
    padding-top: 20px;
}

section.transaction .form-radios label.option {
    float: left;
    padding-right: 0;
    width: 95%;
}

section.transaction .form-radios
{
    margin:0;
}

section.transaction #edit-commerce-payment-payment-method input[type=checkbox], section.transaction #edit-commerce-payment-payment-method input[type=radio]
{
    display: block;
    clear: both;
    width: 10%;
    text-align: left;
    float: left;
    margin: 5px;
    padding: 5px;
}

section.transaction .form-radios label.option {
    float: left;
    width: 85%;
    display: block;
    padding: 5px 0;
}

table.shop_table tbody td:nth-child(2), table.shop_table tbody td:nth-child(3)
{
    display: none;
}


table.shop_table thead th:nth-child(2), table.shop_table thead th:nth-child(3)
{
    display: none;
}

section.transaction .fieldset-wrapper .form-item label
{
    padding-bottom: 10px;
}

table.shop_table tfoot .cart_item
{
    display: none;
}

table.shop_table tfoot .small-only
{
    display: table-row;
}

section.transaction .alert-block
{
    height: 50px;
}

#payment-details ul
{
    margin-left: 35px;
    padding-left: 20px;
}

#edit-commerce-payment-payment-details-veritrans-tokens
{
    float: left;
    width: 100%;
}

#payment-details .description
{
    float: left;
    width: 100%;
    margin: 0;
}

.box_voucher .image img
{
    height:185px;
}


.akun .form-actions .row
{
    float: none;
    width: 100%;
    text-align: center;
}

section.std_content .voucher .c_left .grid_voucher_order table td:first-child
{
    padding-left: 0;
    padding-left: 10px;
}

section.std_content .voucher .c_left .grid_voucher_order table td:first-child img
{
    position: inherit !important;
    display: block;
    float: left;
    margin-right: 10px;
}

section.std_content .voucher .c_left .grid_voucher_order td p
{
    margin:0;
    min-width: 90px;
}

#payment-details .description
{
    margin:5px 0 15px 0;
}



label[for='edit-commerce-payment-payment-details-veritrans-code2']
{
    width:30% !important;
}

section.std_content .akun .grid_akun.order_transaksi tbody tr
{
    padding:0;
}



.dompet #edit-deposit
{
    width: 240px;
    font-size: 14px;
    padding: 0 15px 0 10px;
}

.dompet .form-submit
{
    width: 240px;
}

section.std_content .akun .c_right nav a
{
    width:125px;
    margin: 0 10px 0 0;
}

.page-user-voucher section.std_content .akun .c_right .box_voucher
{
    width: 100%;
    padding-right:0;
}

#webform-client-form-4907 .form-item .description
{
    margin-left: 0px !important;
}

#webform-client-form-4907 .form-item input, #webform-client-form-4907 .form-item textarea, #webform-client-form-4907 .form-item select, #webform-client-form-4907 .form-item .description, #webform-client-form-4907 .form-item .element-invisible
{
    width: 100% !important;
}

#webform-client-form-4907 .form-actions input[type=submit], #webform-client-form-4907 .form-actions input[type=button]
{
    margin: 0 auto;
    display: block;
}

.voucher
{
    width:100%;
}

section.std_content .voucher, section.std_content .voucher .wrapper_2, section.std_content .voucher .wrapper_3
{
    width: 100%;
}

.wrap_popup.voucher .box_popup
{
    width:90%;
}

/* popups login */
.hybridauth-facebook, .hybridauth-twitter {
    width: 255px;
    background-position: left center;
    background-size: 255px;
    padding: 10px 0;
}

.slide_content a.bt_slider
{
    margin-top: 35px;
    padding: 15px 15px;
    margin: 5px auto;
}

.slide_teaser
{
    display: none;
}

.focus_right
{
    top:5px;
    width: 250px;
    right: 15px;
    height: 245px;
    margin-top: 10px;
}

.slide_content a.bt_slider
{
    width: 165px;
    padding: 10px 25px;
}

.focus_right h2
{
    font-size: 16px;
    line-height: 1.5;
}

.focus_right .highlight
{
    font-size: 30px;
}

.payment
{
    width: 100%;
}

.promo-page-landing
{
    width:100% !important;
}

section.std_content .akun .form.akun #edit-locale
{
    width:90%;
}

section.std_content .akun .c_right .share .right {
    clear: both;
    float: none;
    display: block;
    width: 100%;
}

section.std_content .akun .c_right .share input[type=text]
{
    width: 100%;
    padding: 0;
    margin: 0 0 10px 0;
}

table.shop_table tfoot .cart_item
{
    display: block;
}

section.transaction table.cart td.product-subtotal
{
    width: 110px;
}

section.transaction table.cart td.product-price
{
    width: 110px;
}

/* paket-data */
.info-paket-data {
    width: 280px !important;
    margin:45px auto 15px auto !important
}

.detail-paket-data {
    width: 100% !important;
    margin: 10px 0 30px 0 !important;
}

/* Voucher Homepage */
.voucher_vendor .slider .slide
{
    width: 260px !important;
}

.voucher_vendor .slider .slide .image img
{
    width:100%;
}

.voucher_vendor {width: 260px;margin: auto}

.voucher_vendor .bx-wrapper a.bx-prev {background-position: bottom left;left: -25px;}
.voucher_vendor .bx-wrapper a.bx-next {background-position: top left;right: -25px;}


/* Shopping Cart */
header .right_link .box .box_drop .arr
{
    right: -85px;
}

header .right_link .box.cart .box_drop
{
    left: -130px;
    top: 70px;
}

header .right_link .box.cart
{
    display: block;
    float: right;
    right: 50px;
    height: 60px;
    width: 65px;
}

body.home header .right_link .box.lang a
{
    height: 50px;
    padding: 5px 0;
    background-position: 30px 50px !important;
}

/*fixing css for main/header banner */
section.banner {
    overflow: hidden;
    min-height: 60px;
    padding: 0 !important;
}

section.banner img{right: -55%;}
section.banner img{
    position: relative;
    right: 425px;
    bottom:0;
    /*max-height: 320px !important;
    max-width: none;*/
    width: auto;
}

section.banner .caption
{
    top:25%;
}

.topup-action {
   width: 100%;
}

/* revamp header maret 2016 */

section.banner .bx-wrapper .bx-pager {bottom: 15px;}

section.banner
{
    /*display: none;*/
    background: #1d262c;    
    background: #727577;
    padding: 10px 0;
}

body.home header
{
    position: relative;
}

section.h_middle_top .home_tab {
    left: 0;
    top: 0;
    margin-bottom: 15px;
}

.bx-wrapper
{
    margin:0 auto;
}

section.h_middle_top .home_tab .form input[type=text]
{
    width: 100%;
    height: 52px;
}

section.h_middle_top .home_tab .nav_tab a.active
{
    /*width: 83px;*/
    width: 25%;
    padding: 0;
    text-align: center;
    font-size: 11px;
    padding-top: 42px;
    height: 37px;
}

section.h_middle_top
{
    margin-top: 0;
    width: 100%;
    top:0;
    height: auto;    
    margin-bottom: 15px;
    padding-bottom: 15px;
    background: #1d262c;
    background: #727577; 
}

body.home header .logo
{
    margin: 0;
}

body.home header
{
    border-bottom: 1px solid #CCC;
}

header .logo
{
    left:0;
}

section.h_middle_top .home_tab {
    /*background: #717171;*/
}

section.h_middle_top .home_tab .nav_tab a span.ico
{
    background-position: center !important;
    /*right: auto !important;*/
}

section.h_middle_top .home_tab .nav_tab a span.ico.pulsa, 
section.h_middle_top .home_tab .nav_tab a span.ico.listrik, 
section.h_middle_top .home_tab .nav_tab a span.ico.bolt, 
section.h_middle_top .home_tab .nav_tab a span.ico.finance
{
    background-position: center !important;
}

section.h_middle_top .home_tab .nav_tab a.active, section.h_middle_top .home_tab .nav_tab a:hover
{
    /*line-height: 36px;*/
    line-height: 1.2;
}

section.h_middle_top #edit-operator {
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    margin-top: 0px; 
}

section.h_middle_top #sepulsa-autocomplete-packets
{
    margin-left: 0;
}

section.h_middle_top #edit-operator
{
    border-bottom: 1px solid #a1a1a1;
}

section.h_middle_top .info-pulsa
{
    margin: 0 0 10px 0; 
}

section.h_middle_top .info-pulsa p
{
    padding: 0 0 10px 0;
}

section.h_middle_top #sepulsa-autocomplete-packets select, 
section.h_middle_top #edit-existing-phone, 
section.h_middle_top .home_tab .form input[type=text], 
section.h_middle_top .form-select
{
    font-size: 18px !important;
}

section.h_middle_top .home_tab .form input[type=text]
{
    padding: 10px;
}

section.h_middle_top .form-select option {
    font-size: 16px;
}

section.h_middle_top #sepulsa-autocomplete-packets select, 
section.h_middle_top .form-select, 
section.h_middle_top #sepulsa-autocomplete-packets select#edit-packet
{
    padding-left: 10px !important;
}

section.h_middle_top .home_tab .form #edit-phone, 
section.h_middle_top .home_tab .form #edit-existing-phone, 
section.h_middle_top .home_tab .form .meter-number, 
section.h_middle_top .home_tab .form .phone-number, 
section.h_middle_top .home_tab .form .customer-number
{
    padding-left: 40px !important;
    padding-right: 5px !important;
}

section.h_middle_top .home_tab .content_tab
{
    /*border: 2px solid #a1a1a1 !important;*/
    border: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

/*section.h_middle_top .home_tab .nav_tab a span.ico.pulsa{background:url(../images/material/ico_phone_black.png) no-repeat left center;}
section.h_middle_top .home_tab .nav_tab a span.ico.bolt{background:url(../images/material/ico_biznet_black.png) no-repeat left center;}
section.h_middle_top .home_tab .nav_tab a span.ico.finance{background:url(../images/material/ico_finance_black.png) no-repeat left center;}
section.h_middle_top .home_tab .nav_tab a span.ico.listrik{background:url(../images/material/ico_pln_black.png) no-repeat left center;}
section.h_middle_top .home_tab .nav_tab a span.ico.bpjs{background:url(../images/material/ico_bpjs_black.png) no-repeat left center;}*/

section.h_middle_top .home_tab .nav_tab a
{
    color: #fff !important;
}

section.h_middle_top .home_tab .nav_tab a.active:before 
{
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    border-bottom: 18px solid #fff;
    position: absolute;
    bottom: 0;
}

body.home header a.toggle {
    background: url(../images/material/ico_burger.png) no-repeat;
}

.only-small
{
    display: block !important;
}

.only-large
{
    display: none !important;
}

header .nav_mobile .box_credit {
    background: #ccc;
    color: #000;
}

header .nav_mobile .box_drop
{
    border: 1px solid #ccc;
}

header .nav_mobile .box_drop a:hover
{
    background: #0d7eb8;
}

section.banner .header-img
{
    height: 50px;
    background: none;
    padding: 15px 0;
}

section.banner .caption
{
    top:15px;
    display: block;
}

section.banner .caption .content
{
    display:none;
}

section.banner .caption h1
{
    font-size: 22px !important;
    margin: 0 !important;
}

.mobile-download
{
    display: block;
    background: #129d4a;
    width: 100%;
    padding: 15px 10px;
    color: #fff;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.mobile-download:after {
    clear: both;
    content: "";
    display: block;
}

.mobile-download {
    display: block;
    background: #129d4a;
    width: 100%;
    padding: 15px 10px;
    color: #fff;
}

.mobile-download .notif-info {
    line-height: 17px;
    float: left;
    margin-top: 5px;
}

    .mobile-download a.close {
        border-radius: 50%;
        background: #fff;
        width: 18px;
        height: 18px;
        display: inline-block;
        text-align: center;
        margin-right: 5px;
    }

.mobile-download .notif-download
{
    float: right;
}

     .mobile-download a.download {
        background: #0d7eb8;
        font-size: 12px;
        color: #fff;
        display: block;
        padding: 10px;

        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
    }


header .logo img
{
    margin-left: 0;
}

header .nav_mobile
{
    right: 0;
}

section.h_middle_top .form-bpjs .form-field input.remove {
    top: 6px;
    right: 10px;
    width: 40px;
    height: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}

section.h_middle_top .form-bpjs .form-field input.add-new
{
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    background: transparent !important;
    color: #129d4a;
}